$break-small: 320px;
$break-large: 1200px;
.enterMobileImg{
    display: inline-block;
    width: 75%;
    margin-bottom: 16px; 
}
.phoneInput{
    border: 1px dashed var(--ion-color-ashirwad);
    border-radius: 25px;
    font-size: 25px;
    display: inline-block;
    width: 75%;
    letter-spacing: 3px;
    margin-top: 1px;
    color: var(--ion-color-ashirwad);
}
.submitButton{
    position: fixed;
    bottom: 25px;
    right: 16px;
    left: 16px;
}

ion-footer{
    &:before{
        height:0px !important;
    }
    .footerTool{
        --background: #fff;
    }
}