<ion-content padding>
  <ion-grid>
    <div padding text-center>
      <ion-img class="enterMobileImg" src="assets/svgs/Pumbar.svg"></ion-img>
    </div>
    <div text-center>
      <h4>Please enter your phone number</h4>
    </div>
    <div text-center margin-top>
      <ion-input type="tel" class="phoneInput" [(ngModel)]="mobile_number" (ionChange)="mobileNumberEntered()"></ion-input>
    </div>
    <div *ngIf="mobile_number.trim().length>0" text-center margin-top><span class="generalMessage">Press submit for OTP</span></div>
    <!-- <ion-button expand="block" size="large" (click)="submitMobileNo()" color="ashirwad" class="noTextTransform submitButton" shape="round">
      Submit
    </ion-button> -->
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="footerTool">
    <ion-button (click)="submitMobileNo()" size="large" color="ashirwad" shape="round" expand="block" padding-horizontal margin-bottom
      class="noTextTransform">
      Submit
    </ion-button>
  </ion-toolbar>
</ion-footer>