<ion-header>
    <ion-toolbar text-center>
      <ion-img src="assets/imgs/aashirwad_logo.png" class="ashLogo"></ion-img>
      <ion-buttons slot="start">
          <ion-back-button color="dark" defaultHref="/dashboard"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-row margin-top class="relative">
    <ion-col size="12" class="totalPoints">
    <ion-img src="assets/imgs/My Points Balance.png"></ion-img>
    <p no-margin class="pointBalanceNumber">{{userObj?.current_points}}</p>
    <p no-margin class="pointBalanceLabel">Total Points Balance</p>
  </ion-col>
  </ion-row>
  <h3 class="marginHead" padding>My Points Balance</h3>
  <div *ngFor = "let balance of pointbalances">

  <ion-card *ngIf="balance.total_reward_points!='0'">
        <ion-card-header>
          <ion-card-title>
            <h1 class="inline" [class.debit-class]="balance.type=='debited'">{{balance.type == 'credited' ? '' : '-'}}{{balance.total_reward_points}} </h1><h5 class="inline">Points {{balance.type == 'credited' ? 'Credited' : 'Debited'}}</h5>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h5 class="fontColor">Date : {{dateFormat(balance.createdAt)}}</h5>
      </ion-card-content>
    </ion-card>
  </div> 
</ion-content>
