ion-content {
    --background : #f6f6f6;
  }
  ion-card {
    --background : #ffffff;
    background-color: #ffffff;
    margin-right:18px;
    margin-left:18px;
  }
  .marginHead{
    margin-top: -10px;
  }
  .fontColor{
      color:#000000;
  }
  .inline{
      display:inline;
  }
  h1{
      font-size:40px;
      color:#1DB711; 
  }

  .debit-class {
    color : rgb(224, 39, 39)
  }


  .pointBalanceNumber{
    position: absolute;
    top: 25%;
    left: 25px;
    font-size: 45px;
    font-weight: bold;
    color: #fff;
  }
  .pointBalanceLabel{
    position: absolute;
    top: 60%;
    left: 25px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
  }
