<ion-header>
  <ion-toolbar text-center>
    <ion-img src="assets/imgs/aashirwad_logo.png" class="ashLogo"></ion-img>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button routerLink="/cart">
        <ion-icon slot="icon-only" src="assets/svgs/shopping-cart.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3 class="redeemHead">Redeem Rewards</h3>
  <ion-grid no-padding>
    <ion-row>
      <ion-col *ngFor="let redeemitem of redeemitems; let i=index" size="6">
        <ion-card class="relative redeemCard" class. [ngClass]="{'mlb':i%2==1, 'mrb': i%2==0}" no-margin>
          <ion-row>
            <ion-col no-padding size="12" class="verticallyCenter">
              <ion-img  [src]="redeemitem.imageUrl" class="redeemIcon"></ion-img>
            </ion-col>
            <ion-col no-padding size="12" text-center>
              <h6 no-margin class="voucherName">{{redeemitem.heading}}</h6>
              <p no-margin class="voucherPoints">{{redeemitem.points}} Pts</p>
            </ion-col>
          </ion-row>
          <ion-img src="assets/svgs/shopping-cart.svg" class="cartIcon" (click)="addToCart(redeemitem.id)"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>