ion-content {
  --background: #f6f6f6;
}
ion-card.redeemCard {
  --background: #ffffff;
  background-color: #ffffff;
  padding: 10px 5px;
  min-height: 177px;
}

.cartIcon{
   width: 20px;
   position: absolute;
   top: 10px;
   left: 10px;
}

.redeemIcon{
   width: 60%;
}

.mlb{
   margin: 0px 0px 3px 3px;
}

.mrb{
   margin: 0px 3px 3px 0px;
}

.voucherPoints{
   color: var(--ion-color-ashirwad);
   margin-top: 8px;
}
