.coinsEarnedSummary {
  margin: 0px ;
  background: #fff;
}
ion-content {
  --background: #f6f6f6;
}

.somePaddingLeft {
  padding-left: 15px;
}
.totalPointLabel {
  font-size: 15px;
  font-weight: 500;
  margin: 15px 0px 0px 0px;
}
.pointNumber {
  margin: 0px;
  display: inline-block;
  font-size: 50px;
  font-weight: 500;
  color: #cd091b;
}
.pointLabel {
  margin: 0px;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  padding-left: 2px;
  color: #cd0a1b;
}
.scannedPointsLabel {
  font-size: 15px;
  font-weight: 500;
}
.somePaddingBottomTop {
  padding: 10px 5px;
}
.QRNumber,
.uploadStatus,
.uploadMessage {
  font-size: 14px;
  margin: 1px 0px;
}
.success {
  color: green;
}
.failure{
    color: #e31837;
}
.addSomePadding {
  padding: 10px 0px 10px 10px;
  margin-bottom: 4px;
}

ion-footer{
  &:before{
      height:0px !important;
  }
  .footerTool{
      --background: #f6f6f6;
  }
}
