<ion-header>
  <ion-toolbar text-center>
    <ion-img src="assets/imgs/aashirwad_logo.png" class="ashLogo"></ion-img>
    <!-- <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="coinsEarnedSummary">
    <ion-row>
      <ion-col size="7" class="somePaddingLeft">
        <p class="totalPointLabel">Total Points Earned</p>
        <div>
          <p class="pointNumber">{{total_Points}}</p>
          <p class="pointLabel">Points</p>
        </div>
        <p class="scannedPointsLabel">QR scanned successfully: {{validSKU}}</p>
      </ion-col>
      <ion-col size="5" class="somePaddingBottomTop">
        <ion-img src="assets/svgs/three_gold_coin.svg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-card>
  <h3 text-center>SKU's Uploaded</h3>
  <div>
    <ion-card class="coinsEarnedSummary addSomePadding" *ngFor="let qrCode of qrCodesResult">
      <ion-row align-items-center>
        <ion-col size="2">
          <ion-img src="assets/svgs/black_QR.svg"></ion-img>
        </ion-col>
        <ion-col size="10">
          <p class="QRNumber"><b>QR: </b>{{qrCode.QR}}</p>
          <p class="uploadStatus"><b>Name: </b>{{qrCode.product_name? qrCode.product_name : 'No Name Found'}}</p>
          <p class="uploadStatus"><b>Status:
            </b>{{qrCode.Stats=='1'&&qrCode.is_dublicates==false?'Successful':'Rejected'}}</p>
          <p class="uploadMessage"><b>Message: </b><span
              [ngClass]="{success:qrCode.Stats=='1'&&qrCode.is_dublicates==false, failure: qrCode.Stats=='0'||qrCode.is_dublicates==true}">{{qrCode.Message}}</span>
          </p>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar class="footerTool">
    <ion-button (click)="clearStorage()" size="large" shape="round" expand="block" padding-horizontal margin-bottom
      class="noTextTransform">
      Got It
    </ion-button>
  </ion-toolbar>
</ion-footer>