ion-content {
  --background: #f6f6f6;
}
ion-card {
  border-radius: 3%;
}
.contact_logo {
  width: 33%;
  display: inline-block;
  padding-left: 16px;
  padding-top: 16px;
}
.contactImgMain {
  width: 110px;
}
.marginTop {
  margin-top: -18px;
}

.contactCard {
  background-color: #fff;
  margin: 0px 0px 16px 0px;
}

.rowTop {
  margin-top: 13px;
}

.headText {
  font-size: 2.5vh;
}

.helpLine {
  font-size: 1.96vh;
}

.iconImg {
  width: 30px;
}

.contactCol-2 {
  margin-left: 15px;
  margin-top: 5px;
}

.mr-60 {
  margin-right: 60px;
}

a {
  color: #737373;
  text-decoration: none;
}

.arrowContactUs {
  position: absolute;
  right: 0;
  top: 170px;
}

.widthFull {
  width: 100%;
}

.padLeft {
  padding-left: 16px;
}

.colDate {
  color: #000;
  font-size: 12px;
  font-weight: 200;
}

.colId {
  color: #000;
  font-size: 14px;
}

.statusSuccess {
  position: absolute;
  top: 5px;
  color: #cca300;
  right: 2px;
}

.faintCol {
  // color : #b9b7b7;
  font-weight: 200;
  font-size: 80%;
}

.paddingTop {
  padding-top: 0;
}
