<ion-header>
  <ion-toolbar text-center>
    <ion-img src="assets/imgs/aashirwad_logo.png" class="ashLogo"></ion-img>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img class="arrowContactUs" src="../assets/svgs/Arrow1.svg"></ion-img>
  <ion-grid padding margin-top>
    <ion-row>
      <ion-col size="5" text-center>
        <ion-img src="../assets/svgs/contact us.svg" class="contactImgMain"></ion-img>
      </ion-col>
      <ion-col size="7" class="marginTop">
        <h3>Get In Touch!</h3>
        <p class="helpLine">The Help line is open from 10am to 6pm(IST) for any inquiries.</p>
        <ion-button color="primary" shape="round" class="noTextTransform" routerLink="/contact-form">Write to us
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid padding margin-top>
    <ion-card class="contactCard">
      <ion-card-header>
        <ion-card-title class="headText">Call Center</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col size="1">
            <ion-img src="../assets/svgs/whatsapp.svg" class="iconImg"></ion-img>
          </ion-col>
          <ion-col size="10" class="contactCol-2">
            <a href="https://api.whatsapp.com/send?phone=+919902399006&text={{whatsAppMessage}}">9902399006</a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1">
            <ion-img src="../assets/svgs/Mobile.svg" class="iconImg"></ion-img>
          </ion-col>
          <ion-col size="10" class="contactCol-2">
            <a href="tel:+91 99023 33333">
              +91 99023 33333
            </a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1">
            <ion-img src="../assets/svgs/Phone.svg" class="iconImg"></ion-img>
          </ion-col>
          <ion-col size="10" class="contactCol-2">
            <a href="tel:080 2806 1000">
              080 2806 1000
            </a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1">
            <ion-img text-left src="../assets/svgs/Phone.svg" class="iconImg"></ion-img>
          </ion-col>
          <ion-col size="10" class="contactCol-2">
            <a href="tel:080 6134 2222">
              080 6134 2222
            </a>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card class="contactCard">
      <ion-card-header>
        <ion-card-title class="headText">My Tickets</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row *ngFor="let ticket of tickets">
          <ion-col size="1">
            <ion-img src="../assets/svgs/Ticket.svg" class="iconImg"></ion-img>
          </ion-col>
          <ion-col size="11" class="paddingTop">
            <ion-row class="widthFull">
              <ion-col size="8" class="padLeft">
                <h2 class="colId">{{ticket.id}}</h2>
                <p class="colDate">{{ticket.desc}}</p>
                <p class="colDate">{{ticket.date}}</p>
              </ion-col>
              <ion-col size="4">
                <!-- <p>{{ticket.date}}</p> -->
                <p class="statusSuccess">{{ticket.status}}</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
