ion-label{
    // color:#737373;
    color: var(--color);
}
ion-item{
    color:#737373;
}
// .contact_logo{
//     width: 60%;
// }
.cmt-25{
    margin-top: 25px;
}
.activeItem{
    // background: #CD091B;
    background:var(--ion-color-danger);
    color: #fff;
}
.mr-60{
    margin-right: 60px;
}
.contact_logo{
    width: 33%;
    display: inline-block;
    padding-left: 16px;
    padding-top: 16px;
}
.topHead{
    color:var(--ion-color-primary,#3880ff);
}
.arrowContact{
    position: absolute;
    right:0;
    top:4px;
}