<ion-header>
  <ion-toolbar text-center>
    <ion-img src="assets/imgs/aashirwad_logo.png" class="ashLogo"></ion-img>
    <ion-buttons slot="start">
        <ion-back-button color="dark" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content padding>
      <ion-img class="arrowContact" src="assets/svgs/arrow2.svg"></ion-img>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h4 class="topHead">Write to us</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list class="cmt-25">
      <form #f="ngForm">
        <ion-item>
          <ion-label position="floating">Name*</ion-label>
          <ion-input name="contact_name" ngModel type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Company Name*</ion-label>
          <ion-input name="company_name" ngModel type="text"></ion-input>
        </ion-item>
        <ion-item>
        <ion-label position="floating">Email*</ion-label>
          <ion-input name="email" ngModel type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Phone Number*</ion-label>
          <ion-input name="phone_number" ngModel type="tel"></ion-input>
         </ion-item>
         <ion-item>
            <ion-label position="floating">Write Your Message Here*</ion-label>
            <!-- <ion-input name="message" ngModel type="textarea"></ion-input> -->
            <ion-textarea name="message" rows="1" ngModel></ion-textarea>
          </ion-item>
        <ion-button margin-top type="submit" size="large" expand="block" (click)="submitFeedback()" class="noTextTransform" shape="round">
          Submit
        </ion-button>
      </form>
    </ion-list>
  </ion-content>