<!-- <ion-header>
    <ion-toolbar>
      <ion-title align = "center">My Tier Benefits</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-header>
    <ion-toolbar>
        <ion-title>My Tier Benefits</ion-title>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/dashboard"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="bgMain cardFlex">
        <ion-card-content>
          <ion-row>
            <ion-col class="colMain">
              <ion-img class="sideImgMain" src="../assets/imgs/Gold Member.svg"></ion-img>
            </ion-col>
            <ion-col class="colTop">
                <b class="fontSz">I am {{userObj?.member_type_name_min}} Member!</b>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </div>
      <div padding class="bgCard">
        <ion-card class="listCard">
          <ion-list>
            <ion-text class="gbHead">
              <h2 style="text-align:center;">Benefits of Gold Level</h2>
            </ion-text>
            <ion-item>
                <ion-row>
                  <ion-col size="10">Lorem Ipsum 1</ion-col>
                  <ion-col size="2"><ion-icon name="checkmark" class="tickIcon" text-right></ion-icon></ion-col>
                </ion-row>
              </ion-item> 
              <ion-item>
                  <ion-row>
                    <ion-col size="10">Lorem Ipsum 1</ion-col>
                    <ion-col size="2"><ion-icon name="checkmark" class="tickIcon" text-right></ion-icon></ion-col>
                  </ion-row>
                </ion-item> 
                <ion-item>
                  <ion-row>
                    <ion-col size="10">Lorem Ipsum 1</ion-col>
                    <ion-col size="2"><ion-icon name="checkmark" class="tickIcon" text-right></ion-icon></ion-col>
                  </ion-row>
                </ion-item> 
                <ion-item>
                   <ion-row>
                    <ion-col size="10">Lorem Ipsum 1</ion-col>
                    <ion-col size="2"><ion-icon name="checkmark" class="tickIcon" text-right></ion-icon></ion-col>
                  </ion-row>
                </ion-item>
          </ion-list>
        </ion-card>
        <ion-button margin-top type="submit" expand="block" class="noTextTransform goldBtn" shape="round">
          Got It
        </ion-button>
      </div>
    </ion-content>
  