ion-item{
    margin-top: 12px;
    margin-bottom: 10px;
    font-size: 2.5vh;
    font-weight: inherit;
    text-decoration: none;
    padding-right:20px;
}
ion-row{
    width:100%;
}
.bgMain{
    background-image: linear-gradient(to right,#F5F5F5, #F6F6F6);
    min-height:180px;
    max-height:180px; 
    margin:0;
}
.colMain{
    max-height: 97px;
    margin-left:-6px;
}
.sideImgMain{
    width:165px;
    display:inline-block;
    margin-top:-22px;
} 
.alignHead{
    text-align:center;
}
.fontSz{
    font-size: 2.2vh;
}
.gbHead{
    color:#CD091B;
    }
.tickIcon{
    color:#CD091B;
    float:right;
}
.listCard{
    box-shadow: 0px 0px 12px 3px #f0f0f0;
    margin-bottom: 20px;
    border-radius: 10px;
}
.goldBtn{
    padding: 0px 25px 0px 25px;
}
.cardFlex{
    display:flex;
    align-items: center;
}
.bgCard{
    background-image: linear-gradient(to right, #F5F5F5, #F6F6F6);
    margin-top: -25px;
    min-height:100%;
    min-height: 77%;
    overflow-y: auto;
}
.bgDiv{
    background-image: linear-gradient(to right, #F5F5F5, #F6F6F6);
    min-height:100%;
}