.boldTextTitle{
  font-weight: 900;
  font-size: 120%;
}

.faintTextTitle {
  color : var(--ion-color-ashirwad);
  font-size: 90%;
}

ion-content {
  --background : #f6f6f6;
}
ion-card {
  --background : #ffffff;
  background-color: #ffffff;
}
.cardImg {
  height : 15vh;
  // height : 100%;
  width: auto;
  // width: 10vh;
}
.cardRow {
  // 
}
.cardCol{
  height : 100%;
}

.boldText{
  // font-weight: 00;
  // white-space: nowrap;
  // text-overflow: ellipsis;
  // overflow: hidden;
}
.faintText {
  // color : #b9b7b7;
  font-weight: 200;
  font-size: 80%;
}

.communityQuesImg{
  box-shadow: 1px 2px 4px -2px #818181;
}

.communityQuesDesc{
  font-size: 17px;
  color: #343433;
}

.boldText{
  font-size: 17px;
  font-weight: 500;
  color: #222;
  white-space: initial;
}

.questionItem{
  --inner-padding-end: 0px;
}

.communityQuesContentDiv{
  border-bottom: 1px solid #eee;
}

.commentItem{
  --inner-padding-end: 0px;
  border-top: 1px solid #ccc;
}

.commentText{
  color: #343433;
  font-size: 15px;
  white-space: initial;
}

.myProfileImageText{
  height: 45px;
  width: 45px;
  padding: 6px;
}

.replyInput{
  width: 100%;
  height: 50px;
  font-size: 16px;
}