<ion-header>
  <ion-toolbar>
    <ion-img src="assets/imgs/aashirwad_logo.png" class="ashLogo"></ion-img>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/community"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <p>{{questionDetail | json}}</p> -->
  <ion-card *ngIf="questionDetail!=undefined">
    <ion-card-header no-padding>
      <ion-item lines="none" class="questionItem">
        <ion-avatar slot="start">
          <img
            src="{{questionDetail?.created_by.profile_image==''?'assets/svgs/profile_thumbnail.svg':getImageFullPath(questionDetail?.created_by.profile_image)}}" />
        </ion-avatar>
        <ion-label>
          <p no-margin class="boldText">{{questionDetail?.question}}</p>
          <p no-margin>By {{questionDetail?.created_by.name}} | {{formatDate(questionDetail?.createdAt)}} |
            {{questionDetail?.comments.length}} Replies</p>
        </ion-label>
      </ion-item>
      <div>
        <ion-row padding-top *ngIf="questionDetail?.question_image!=''">
          <ion-col size="12" no-padding>
            <ion-img class="communityQuesImg" [src]="getAttachmentPath(questionDetail?.question_image)"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row padding>
          <ion-col size="12" no-padding>
            <p no-margin class="communityQuesDesc">{{questionDetail.description}}</p>
          </ion-col>
        </ion-row>
      </div>
    </ion-card-header>

    <ion-card-content no-padding *ngIf="questionDetail.comments.length>0">
      <ion-list>
        <ion-item lines="none" class="commentItem" *ngFor="let comment of questionDetail.comments">
          <ion-avatar slot="start">
            <img
              [src]="comment.created_by.profile_image==''?'assets/svgs/profile_thumbnail.svg':getImageFullPath(comment?.created_by.profile_image)" />
          </ion-avatar>
          <ion-label>
            <p no-margin class="commentText">{{comment.comment}}</p>
            <p no-margin>By {{comment?.created_by.name}} | {{formatDate(comment?.createdAt)}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar class="footerTool">
    <ion-row align-items-center>
      <ion-col size="2" no-padding>
        <ion-avatar class="myProfileImageText">
          <img [src]="userObj?.profile_image?getImageFullPath(userObj?.profile_image):'assets/svgs/profile_thumbnail.svg'" />
        </ion-avatar>
      </ion-col>
      <ion-col size="8" no-padding>
        <input type="text" [(ngModel)]="myReply" placeholder="Add a reply..." class="replyInput">
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="postAComment()" fill="clear">
          <ion-icon slot="icon-only" src="assets/svgs/send-button.svg"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>