<ion-content padding>
  <div class="introMainDiv" padding-top>
    <ion-slides pager="true" class="introSlider" #Slides (ionSlideWillChange)="slideChanged()">
      <ion-slide>
        <div text-center padding>
          <ion-img class="introImg" src="../assets/svgs/vector-1.svg"></ion-img>
          <h2>We Beleive In Innovation</h2>
          <p class="generalParagraph">Ashirvad prides itself on its ability to keep up with customer requirements through the changing times and Our Products have always been ahead of the curve when it comes to innovation and creativity.
          </p>
          <ion-img class="ashIcon" src="../assets/imgs/aashirwad_logo.png"></ion-img>
        </div>
      </ion-slide>
      <ion-slide>
        <div text-center padding>
          <ion-img class="introImg" src="../assets/svgs/vector-2.svg"></ion-img>
          <h2>We take care of all your water management needs</h2>
          <p class="generalParagraph">Right from pulling the underground water for farming and drinking, to the disposal of dirty water into the sewage lines, Ashirvad has all the products to manage the flow of water
          </p>
          <ion-img class="ashIcon" src="../assets/imgs/aashirwad_logo.png"></ion-img>
        </div>
      </ion-slide>
      <ion-slide>
        <div text-center padding>
          <ion-img class="introImg" src="../assets/svgs/vector-3.svg"></ion-img>
          <h2>Provides long lasting and smart solutions</h2>
          <p class="generalParagraph">Using Ashirvad products for one’s requirements, is one way to be happy. To be WATER HAPPY. Ashirvad products have made life easier for people across the globe. With their smart plumbing, sanitary and drainage products.
          </p>
          <ion-img class="ashIcon" src="../assets/imgs/aashirwad_logo.png"></ion-img>
        </div>
      </ion-slide>
      <ion-slide>
        <div text-center padding>
          <ion-img class="introImg" src="../assets/svgs/vector-4.svg"></ion-img>
          <h2>Sustainability and convenience</h2>
          <p class="generalParagraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore
          </p>
          <ion-img class="ashIcon" src="../assets/imgs/aashirwad_logo.png"></ion-img>
        </div>
      </ion-slide>
    </ion-slides>
    <ion-button class="noTextTransform skipButton" (click)="skipIntro()" fill="clear" color="dark">
      {{buttonText}}
    </ion-button>
  </div>


</ion-content>