$break-small: 320px;
$break-large: 1200px;
.introSlider{
    // padding-bottom: 30px;
    height: 90vh;
    ion-slide{
        
        .introImg{
            display: inline-block;
            width: 70%;
            // margin-bottom: 20px;
            @media screen and (min-width: $break-small) {
              height : 320px;
            }  
        }
        .ashIcon{
            display: inline-block;
            width: 30%;
            margin-top: 10px;
            @media screen and (min-width: $break-small) {
              height : 70px;
            }  
        }
    }
    
}
.swiper-pagination .swiper-pagination-bullet-active{
    background: #CD091B !important;
}
.introMainDiv{
    position: relative;
    margin-top : 0px;
    padding-top : 0px;
    height : 95vh;
}
.skipButton{
    position: absolute;
    bottom: -5px;
    right: 3px;
    z-index: 99;
}