<ion-header>
    <ion-toolbar>
        <ion-title text-center class="scan_mr-60">
            <ion-img class="scan_logo" src="assets/imgs/aashirwad_logo.png"></ion-img>
        </ion-title>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/dashboard"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="scanningDivParent">
    <ion-grid no-padding margin-vertical>
      <ion-row>
        <ion-col size="12" text-center class="pl-10" (click)="scanQRCode()">
          <div class="dashItemCol">
            <ion-img src="assets/svgs/red_QR.svg" class="dashItemIcon"></ion-img>
            <h4 class="scanLabel">Please click here to Scan QR Code</h4>
          </div>
        </ion-col>
        <!-- <ion-col size="6" text-center class="pr-10" class="relative" routerLink="/unsynced-sku">
          <div class="dashItemCol">
            <ion-img src="assets/svgs/green_QR.svg" class="dashItemIcon"></ion-img>
            <p class="dashItemName">Unsynced Code</p>
          </div>
          <span class="redDot"></span>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid padding>
    <ion-row>
      <ion-col size="12" margin-bottom>
        <h3>Type QR code</h3>
        <p no-margin>Type your QR code if camera is not working</p>
        <ion-item margin-top>
          <ion-label position="floating">Code*</ion-label>
          <ion-input type="text" maxlength="22"  [(ngModel)]="qrCode"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" margin-top>
        <ion-button class="noTextTransform" [disabled]="qrCode.trim().length<22" (click)="submitQRCode()" shape="round" size="large" expand="block">
          Submit
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>