
.scanningDivParent{
    background: #f6f6f6;
    padding: 20px 16px;
}

.scanLabel{
    padding-left: 13px;
}

.dashItemCol{
    // background: #fff;
    padding: 30px 10px;
    border-radius: 7px;
    margin: 3px;

    .dashItemIcon{
        display: inline-block;
        width: 50%;
    }

    .dashItemName{
        margin-bottom: 0px;
    }
}

.pl-10{
    padding-left: 13px;
}
.pr-10{
    padding-right: 13px;
}

.redDot{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #cd0a1b;
    position: absolute;
    top: 3px;
    right: 3px;
}
.scan_mr-60{
    margin-right: 60px;
}
.scan_logo{
    width: 33%;
    display: inline-block;
    padding-left: 16px;
    padding-top: 16px;
}

