<!-- <ion-header>
  <ion-toolbar>
    <ion-title align = "center">My Tier Benefits</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar text-center>
      <ion-img src="assets/imgs/aashirwad_logo.png" class="ashLogo"></ion-img>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/dashboard"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="bgTop">
      <ion-card-content class="">
        <ion-row>
          <ion-col class="colTop">
            <ion-img class="sideImgTop" src="../assets/imgs/Gold Member.svg"></ion-img>
          </ion-col>
          <ion-col class="colTop">
              <b>I am {{userObj?.member_type_name_min}} Member!</b>
              <p>You are on your way to {{userObj?.member_type_name_max}} Level. </p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card class="bgPlatinum">
      <ion-row>
        <ion-col size="8">
          <ion-img class="ash_logo" src="../assets/imgs/aashirwad_logo.png"></ion-img>
          <ion-card-header>
            <ion-card-title class="colorTitle">PLATINUM LEVEL</ion-card-title>
          </ion-card-header>
        
          <ion-card-content class="colorText">
              15% extra reward points/scan
              Member of Ashirvad club
            <!-- {{ userObj?.member_type_name_min == 'Platinum' ? 'Congrats! You have levelled up' : 'You are on your way to Platinum Level'}} -->
          </ion-card-content>
        </ion-col>
        <ion-col size="4">
            <ion-img class="sideImg1 mar" src="../assets/svgs/Platinum_Man.svg"></ion-img>
        </ion-col>
      </ion-row>
  </ion-card> 
    <ion-card class="bgGold">
      <ion-row>
        <ion-col size="8">
          <ion-img class="ash_logo" src="../assets/imgs/aashirwad_logo.png"></ion-img>
          <ion-card-header>
            <ion-card-title class="colorTitle">GOLD LEVEL</ion-card-title>
          </ion-card-header>
          <ion-card-content class="colorText">
              10% extra reward points/scan
              Visit to Ashirvad
              <!-- {{ userObj?.member_type_name_min == 'Gold' || userObj?.member_type_name_min == 'Platinum'  ? 'Congrats! You have levelled up' : 'You are on your way to Gold Level'}} -->
          </ion-card-content>
        </ion-col>
        <ion-col size="4">
            <ion-img class="sideImg3" src="../assets/svgs/Gold_Man.svg"></ion-img>
        </ion-col>
        </ion-row>
      </ion-card>
      <ion-card class="bgSilver">
        <ion-row>
          <ion-col size="8">
            <ion-img class="ash_logo" src="../assets/imgs/aashirwad_logo.png"></ion-img>
          <ion-card-header>
            <ion-card-title class="colorTitle">SILVER LEVEL</ion-card-title>            
          </ion-card-header> 
          <ion-card-content class="colorText">
              No extra benefits.
              <!-- {{ userObj?.member_type_name_min == 'Gold' || userObj?.member_type_name_min == 'Platinum' || userObj?.member_type_name_min == 'Silver'  ? 'Congrats! You have levelled up' : 'You are on your way to Silver Level'}}             -->
          </ion-card-content>
          </ion-col>
          <ion-col size="4">
              <ion-img class="sideImg2" src="../assets/svgs/Silver_Man.svg"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card>
       
</ion-content>
