.bgTop{
    background-image: linear-gradient(to right,#F5F5F5, #F6F6F6);
    min-height:180px;
    max-height:180px; 
    box-shadow:2px 11px 4px -2px #f0f0f0;
    margin:0;
}

.bgBronze{
    background-color: #C9917E;
    min-height:180px;
    max-height:180px;
    margin-top:20px;
    border-radius: 10px;
}
.bgPlatinum {
  background-color: #363636;
  min-height:180px;
  max-height:180px;
  margin-top:20px;
  border-radius: 10px;
}

.bgSilver{
    background-color: #979797;
    min-height:180px;
    max-height:180px;
    margin-top:20px;
    border-radius: 10px;
}
.bgGold{
    background-color: #CB9B00;
    min-height:180px;
    max-height:180px;
    margin-top:20px;
    border-radius: 10px;
}
.colTop{
    margin-top: 25px;
    max-height: 97px;
    text-align:justify;
}
.colorTitle{
    color:#FFF;
    font-size:3vh;
    font-weight : 900;
}
.colorText{
    color:#FFF;
    margin-top: 25px;
    font-size: 12px;
    // white-space:nowrap;
}
.ash_logo{
    width: 30%;
    display: inline-block;
    padding-left: 16px;
    padding-top: 16px;
}
.sideImg1{
    width:80px;
    display:inline-block;
}
.sideImg2{
    width:120px;
    display:inline-block;
}
.sideImg3{
    width:93px;
    display:inline-block;
}
.sideImgTop{
    width:165px;
    display:inline-block;
    margin-top:-22px;
    margin-left: -20px;
} 