ion-content {
    --background : #f6f6f6;
  }
  ion-card {
    --background : #ffffff;
    background-color: #ffffff;
    border-radius: 10px;
  }
  ion-title{
      text-align: center;
  }
  .videoImg {
    height : 100%;
    width: auto;
    // width: 10vh;
  }
  .videoRow {
    height : 13vh;
  }
  .videoCol{
    height : 100%;
  }
  .video_logo{
    width: 30%;
    display: inline-block;
    padding-left: 16px;
    padding-top: 16px;
}
  .vBoldText{
    font-weight: 900;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .vFaintText {
    // color : #b9b7b7;
    font-weight: 400;
    font-size: 90%;
  }
