<ion-header>
  <ion-toolbar>
    <ion-img src="assets/imgs/aashirwad_logo.png" class="ashLogo"></ion-img>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card *ngFor="let videoObject of videoLinksObject" (click)="openVideoPage(videoObject.link)">
      <ion-img src="https://img.youtube.com/vi/{{videoObject.link}}/0.jpg"></ion-img>
      <ion-row padding class="videoRow">
        <ion-col class="videoCol" size="2">
          <ion-img class="videoImg" src="../../assets/svgs/My Profile.svg">
          </ion-img>
        </ion-col>
        <ion-col size="10">
          <ion-row>
            <ion-col size="12" class="vBoldText">{{videoObject.title}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="8" class="vFaintText">By {{videoObject.by}}</ion-col>
            <ion-col size="4" class="vFaintText">
              3 days ago
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>