<ion-header>
  <ion-toolbar>
    <ion-img src="assets/imgs/aashirwad_logo.png" class="ashLogo"></ion-img>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid padding no-margin class="blueGrid" *ngIf="userObj">
    <ion-row>
      <ion-col size="12" text-center class="relative">
        <div class="circlePicDiv">
          <img class="circle-pic-border"
            src="{{userObj?.profile_image != '' ? imgUrlDomain+userObj?.profile_image: 'assets/svgs/User.svg'}}" />
          <div class="membershipIcon">
            <!-- <ion-icon src="assets/svgs/lightning.svg"></ion-icon> -->
            {{userObj?.name}}
          </div>
        </div>
        <div class="pointsdiv">
          <ion-icon class="purseIcon" src="assets/svgs/purse.svg"></ion-icon>
          <p class="pointNumber">{{userObj?.current_points}}</p>
          <p class="pointLabel">Points</p>
        </div>
        <ion-button class="editEntries" fill="clear" (click)="comingSoon()">
          <ion-icon slot="icon-only" src="assets/svgs/pencil.svg"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="10" offset="1" text-center>
        <div class="plumberDiv">
          <ion-row class="w-100" align-items-center>
            <ion-col size="10" no-padding text-left>
              <p no-margin class="personName">{{userObj?.member_type_min.type_name}}</p>
            </ion-col>
            <ion-col size="2" no-padding text-right>
              <ion-icon class="goldIcon" src="assets/svgs/{{userObj?.member_type_name_min}}.svg"></ion-icon>
            </ion-col>
          </ion-row>
        </div>
        <p class="memberSince">Mera Ashirwad member since {{joinedDate}}</p>
      </ion-col>
      <ion-col margin-top size="12" padding-horizontal>
        <p no-margin class="pointDesc">Earn {{userObj?.member_type_max.min_point - userObj?.total_points}} points for
          {{userObj?.member_type_max.type_name}}</p>
        <div class="relative">
          <ion-range min="{{userObj?.member_type_min.min_point}}" max="{{userObj?.member_type_max.min_point}}"
            class="progressRange" [ngModel]="userObj?.total_points">
            <ion-label class="minRange" slot="start">{{userObj?.member_type_min.min_point}}xp</ion-label>
            <ion-label class="maxRange" slot="end">{{userObj?.member_type_max.min_point}}xp</ion-label>
          </ion-range>
          <div class="overlayOverRange"></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-segment mode="md" scrollable [(ngModel)]="category">
    <ion-segment-button value="myWorkshop">
      <ion-label>My Workshop</ion-label>
    </ion-segment-button>
    <ion-segment-button value="aboutMe">
      <ion-label>About Me</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="category">
    <div *ngSwitchCase="'myWorkshop'" padding>
      <ion-grid no-padding>
        <ion-row>
          <ion-col size="4" *ngFor="let img of imageList">
            <ion-img [src]="img.download_url"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngSwitchCase="'aboutMe'" padding>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input readonly type="text" value="{{userObj?.name}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input readonly type="text" value="{{userObj?.email}}"></ion-input>
      </ion-item>
      <div class="relative">
        <ion-item>
          <ion-label position="floating">DOB</ion-label>
          <ion-input readonly type="text" value="{{userObj?.dob != null?formatDate(userObj?.dob) : ''}}"></ion-input>
        </ion-item>
        <ion-icon class="calendarIcon" src="assets/svgs/Calendar.svg"></ion-icon>
      </div>
      <div class="relative">
        <ion-item>
          <ion-label position="floating">Date of Marriage</ion-label>
          <ion-input readonly type="text" value="{{userObj?.dob != null?formatDate(userObj?.wedding_date) : ''}}">
          </ion-input>
        </ion-item>
        <ion-icon class="calendarIcon" src="assets/svgs/Calendar.svg"></ion-icon>
      </div>
      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input readonly type="text" value="{{userObj?.address != null?userObj?.address : ''}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Pincode</ion-label>
        <ion-input readonly type="text" value="{{userObj?.pin_code}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">PAN / Aadhar Card Number</ion-label>
        <ion-input readonly type="text" value="{{userObj?.doc != null?userObj?.doc : ''}}"></ion-input>
      </ion-item>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button no-margin size="large" expand="full" color="ashirwad" class="noTextTransform" (click)="comingSoon()">
      Upload Images
    </ion-button>
  </ion-toolbar>
</ion-footer>