ion-footer{
    &:before{
        height:0px !important;
    }
    .footerTool{
        --background: #fff;
    }
}

.pointsdiv{
    position: absolute;
    top: 0px;
}

.purseIcon{
    font-size: 20px;
    margin-right: 7px;
}

.pointNumber {
    margin: 0px;
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
}
.pointLabel {
    margin: 0px;
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    padding-left: 2px;
    color: #fff;
}

.blueGrid{
    background: var(--ion-color-ashirwad);
}

.circle-pic-border{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: 4px solid #fff;
}

.circlePicDiv{
    position: relative;
}

.membershipIcon{
    font-size: 15px;
    position: absolute;
    bottom: -18px;
    background: #fdbf00;
    padding: 4px 10px;
    display: table;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 15px;
    font-weight: 500;
}

.editEntries{
    position: absolute;
    right: 0px;
    top: 0px;
}

.plumberDiv{
  border-radius: 30px;
  margin: 5px auto;
  background: #fff;
  padding: 7px 19px;
  max-width: 150px;

    .personName{
        display: inline-block;
        font-size: 17px;
        font-weight: 500;
    }

    .goldIcon{
        font-size: 25px;
    }
    .w-100{
        display: flex;
        align-items: center;
        width: 100%;
    }
}

.memberSince{
    margin: 7px 0px 0px 0px;
    font-size: 14px;
    color: #fff;
}

.progressRange{
    --knob-background: #fdbf00;
    --bar-background: #89aee7;
    --bar-background-active: #fbbf2f;
    padding: 0px;
    --knob-size: 23px;
    --bar-border-radius: 10px;
    --bar-height: 7px;

    .minRange{
        position: absolute;
        bottom: -7px;
        left: -2%;
        color: #fff;
        font-size: 14px;
    }

    .maxRange{
        position: absolute;
        bottom: -7px;
        right: 0px;
        color: #fff;
        font-size: 14px;
    }
}
.pointDesc{
    color: #fff;
    margin-left: -5px;
    font-size: 14px;
}
.overlayOverRange{
    position: absolute;
    background: transparent;
    width: 106%;
    height: 54px;
    top: 0px;
    z-index: 99;
    left: -10px;
}

.calendarIcon{
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 19px;
}