// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

.menuContent {
  --background: linear-gradient(to top, #3176de, #0a3f8e);
}
.menuList {
  background: transparent;
  padding-top: 30px;
}
.menuItem {
  --background: transparent;
  --color: #fff;
}
.menuItemText {
  width: 100%;
}
.profileGrid {
  background: #fff;
}
.circlePicDiv {
  position: relative;
}
.closeButton {
  position: absolute;
  top: 5px;
  right: 0px;
}
.membershipIcon {
  font-size: 35px;
  position: absolute;
  bottom: 0px;
  right: 80px;
}
.circle-pic {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  margin-top: 15%;
  border: 2px solid #f6f6f6;
}

.helloMessage {
  margin-bottom: 0px;
  font-weight: normal;
}
.profile-name {
  margin-top: 2px;
  margin-bottom: 5px;
}

.profile_designation {
  margin-bottom: 15px;
}
.generalParagraph {
  color: #818181;
}

.noTextTransform {
  text-transform: none !important;
}

.relative {
  position: relative;
}

.noData {
  width: 100%;
  color: var(--ion-color-ashirwad);
  text-align: center;
  position: absolute;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 16px;
}
.verticallyCenter{
    display: flex;
    justify-content: center;
}