<ion-app>
  <ion-menu menuId="m1" side="start" type="overlay">
    <ion-content class="menuContent">
      <ion-grid text-left no-padding class="profileGrid">
        <ion-row>
          <ion-col text-center>
            <div class="circlePicDiv">
              <ion-button class="closeButton" (click)="closeMenu()" fill="clear">
                <ion-icon slot="icon-only" name="close"></ion-icon>
              </ion-button>
              <img class="circle-pic" (click)="gotoPortfolio()" src="{{userObj?.profile_image != '' ? imgUrlDomain+userObj?.profile_image: 'assets/svgs/User.svg'}}" />
              <ion-icon src="assets/svgs/{{userObj?.member_type_name_min}}.svg" class="membershipIcon"></ion-icon>
            </div>
            <h5 class="helloMessage" (click)="gotoPortfolio()">Hello</h5>
            <h3 class="profile-name" (click)="gotoPortfolio()">{{userObj?.name}}</h3>
            <!-- <h6 no-margin class="profile_designation">(Plumber)</h6> -->
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-list class="menuList">
        <ion-menu-toggle>
          <ion-item lines="none" button class="menuItem" routerLink="/dashboard">
            <ion-icon slot="start" src="assets/svgs/side_home.svg"></ion-icon>
            <h4 no-margin class="menuItemText">Home</h4>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" button class="menuItem" routerLink="/ash-rewards">
            <ion-icon slot="start" src="assets/svgs/side_Ashirvad Rewards.svg"></ion-icon>
            <h4 no-margin class="menuItemText">Rewards</h4>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" button class="menuItem" routerLink="/community">
            <ion-icon slot="start" src="assets/svgs/side_Ashirvad Community.svg"></ion-icon>
            <h4 no-margin class="menuItemText">Community</h4>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" button class="menuItem" routerLink="/catalogue">
            <ion-icon slot="start" src="assets/svgs/side_Product Catalogue.svg"></ion-icon>
            <h4 no-margin class="menuItemText">Products</h4>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" button class="menuItem" routerLink="/contact-us">
            <ion-icon slot="start" src="assets/svgs/side_Feedback.svg"></ion-icon>
            <h4 no-margin class="menuItemText">Contact Us</h4>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" button class="menuItem" routerLink="/video-training">
            <ion-icon slot="start" src="assets/svgs/side_Video Training.svg"></ion-icon>
            <h4 no-margin class="menuItemText">Training</h4>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" button class="menuItem" (click)='logoutUser()'>
            <ion-icon slot="start" src="assets/svgs/side_logout.svg"></ion-icon>
            <h4 no-margin class="menuItemText">Logout</h4>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>