<ion-header>
  <ion-toolbar text-center>
    <ion-img src="assets/imgs/aashirwad_logo.png" class="ashLogo"></ion-img>
    <ion-buttons slot="start">
        <ion-back-button color="dark" defaultHref="/video-training"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content text-center class="contentCenter">
  <!-- <iframe class="iframeHolder" src="https://www.youtube.com/embed/1QmcPCEQGJA">
  </iframe> -->
  <iframe *ngIf="embedId" class="videoPlayer" width="560" height="315" [src]="embedLink"  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</ion-content>
