.iframeHolder {
  width:  100%;
  height : auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contentCenter {
  --background: #000000; 
}
.videoPlayer{
  width:100%;
}