<ion-header>
    <ion-toolbar text-center>
      <ion-img src="assets/imgs/aashirwad_logo.png" class="ashLogo"></ion-img>
      <ion-buttons slot="start">
          <ion-back-button color="dark" defaultHref="/dashboard"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-content-background">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of catalogueList" (click)="openPDF(item.url)">
        <ion-card no-padding no-margin class="catalogueCard" text-center>
          <ion-row class="catalogueCardRow">
            <ion-col size="12" class="catalogueImgCol">
                <ion-img src="{{item.imageUrl}}"></ion-img>
            </ion-col>
            <ion-col size="12" padding class="catalogueTitleCol">
              {{item.title}}
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
