<ion-content padding>
  <div text-center class="alignCenter">
    <h4>Please enter your OTP Number</h4>

    <div class="resentOtpDiv">
      <ion-row class="otpParent">
        <ion-col size="3" text-center >
          <ion-input autofocus="true" type="tel" [attr.maxlength]="1" (keyup)="moveFocus($event,0,b)" #a  class="otpDigit"></ion-input>
        </ion-col>
        <ion-col size="3" text-center>
          <ion-input type="tel" [attr.maxlength]="1" (keyup)="moveFocus($event,1,c,a)" #b  class="otpDigit"></ion-input>
        </ion-col>
        <ion-col size="3" text-center>
          <ion-input type="tel" [attr.maxlength]="1" (keyup)="moveFocus($event,2,d,b)" #c  class="otpDigit"></ion-input>
        </ion-col>
        <ion-col size="3" text-center>
          <ion-input type="tel" [attr.maxlength]="1"  #d (keyup)="getLastItem($event,3,c)" class="otpDigit"></ion-input>
        </ion-col>
      </ion-row>
    </div>

    <div text-center class="resentOtpDiv">
      <p>Haven't received OTP yet? <a (click)="resendOTP()">Resend</a></p>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="footerTool">
    <ion-button (click)="submitOTP()" [disabled]="otp.toString().trim().length!==7" size="large" color="ashirwad" shape="round" expand="block" padding-horizontal margin-bottom
      class="noTextTransform">
      Submit
    </ion-button>
  </ion-toolbar>
</ion-footer>