$break-small: 320px;
$break-large: 1200px;
.alignCenter{
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.otpParent{
    padding: 0px 60px;
    margin: 0 auto;
}
.otpDigit{
    border: 1px dashed var(--ion-color-ashirwad);
    height: 50px;
    width: 50px;
    color: var(--ion-color-ashirwad);
    font-size: 20px;
    display: inline-block;
    
}

input.native-input.sc-ion-input-md{
    padding: 0px !important;
}

.resentOtpDiv{
    margin-top: 25px;

    a{
        color : var(--ion-color-ashirwad);
    }
}

.submitButton{
    position: fixed;
    bottom: 25px;
    right: 16px;
    left: 16px;
}

ion-footer{
    &:before{
        height:0px !important;
    }
    .footerTool{
        --background: #fff;
    }
}