<ion-header>
    <ion-toolbar text-center>
      <ion-img src="assets/imgs/aashirwad_logo.png" class="ashLogo"></ion-img>
      <ion-buttons slot="start">
          <ion-back-button color="dark" defaultHref="/catalogue"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <iframe *ngIf="!showImg" class="iframeHolder" [src]="showpdfUrl" (load)="iframeLoaded()" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <ion-img *ngIf="showImg" [src]="pdfUrl"></ion-img>
  </ion-content>
