<ion-header>
  <ion-toolbar>
    <ion-img src="assets/imgs/aashirwad_logo.png" class="ashLogo"></ion-img>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!emptyList">
    <div class="megaEventBanner">Hi, We are glad to invite you to our mega event.</div>
    <ion-row>
      <ion-col size="12">
        <ion-searchbar mode="ios" placeholder="Search here.."></ion-searchbar>
      </ion-col>
      <ion-col size="6">
        <ion-item class="selectItem">
          <ion-label position="floating">Region*</ion-label>
          <ion-select placeholder="Select Region" [(ngModel)]="selectedRegion" (ionChange)="filterSelect('regions',$event)">
            <ion-select-option *ngFor="let region of regions" [value]="region._id">{{region.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item class="selectItem">
          <ion-label position="floating">Language*</ion-label>
          <ion-select placeholder="Select Language" [(ngModel)]="selectedLanguage" (ionChange)="filterSelect('languages',$event)">
            <ion-select-option *ngFor="let language of languages" [value]="language._id">{{language.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item class="selectItem">
          <ion-label position="floating">Category*</ion-label>
          <ion-select placeholder="Select Category" [(ngModel)]="selectedCategory" (ionChange)="filterSelect('categories')">
            <ion-select-option *ngFor="let category of categories" [value]="category._id">{{category.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-card *ngFor="let question of filteredSet" (click)='cardClicked(question._id)'>
      <ion-item lines="none" class="questionItem">
        <ion-avatar slot="start">
          <img
            [src]="question.created_by.profile_image.trim()==''?'assets/svgs/profile_thumbnail.svg':getImageFullPath(question.created_by.profile_image)" />
        </ion-avatar>
        <ion-label>
          <p no-margin class="boldText">{{question.question}}</p>
          <p no-margin>By {{question.created_by.name}} | {{formatDate(question.createdAt)}} |
            {{question.comments.length}}
            Replies</p>
        </ion-label>
      </ion-item>
      <!-- <ion-row padding class="cardRow" (click)='cardClicked(question.id)'>
    
          <ion-col class="cardCol" size="2">
            <ion-img class="cardImg" [src]="question.created_by.profile_image.trim()==''?'../../assets/svgs/profile_thumbnail.svg':getImageFullPath(question.created_by.profile_image)">
            </ion-img>
          </ion-col>
          <ion-col size="10">
            <ion-row>
              <ion-col size="12" class="boldText">{{question.question}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" class="faintText">By {{question.created_by.name}}  |  {{formatDate(question.createdAt)}}  |  {{question.comments.length}} Replies</ion-col>
            </ion-row>
          </ion-col>-->
      <!-- <ion-col size="1"> 
              <ion-img src="{{question.id ? '../../assets/svgs/Red Pin.svg' : '../../assets/svgs/light Grey Pin.svg'}}"></ion-img>
            </ion-col> -->
      <!-- </ion-row> -->
    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)='addQuestion()'>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div *ngIf="emptyList">
    <h1 class="noData">No Questions Posted Yet! Post a question.</h1>
  </div>
</ion-content>