ion-content {
  --background : #f6f6f6;
}
ion-card {
  --background : #ffffff;
  background-color: #ffffff;
}
.cardImg {
  height : 100%;
  width: auto;
  // width: 10vh;
}
.cardRow {
  height : 13vh;
}
.cardCol{
  height : 100%;
}

.boldText{
  font-size: 17px;
  font-weight: 500;
  color: #222;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.questionItem{
  padding: 9px 5px;
  --inner-padding-end: 0px;
}
.faintText {
  // color : #b9b7b7;
  font-weight: 200;
  font-size: 80%;
}

.megaEventBanner{
    background: var(--ion-color-ashirwad);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: 500;
}

.selectItem{
  --background:#f6f6f6;
}