ion-content {
  --background: #f6f6f6;
}

ion-card {
  margin: 0px 0px 15px 0px;
}

.qrCodeDetail {
  font-size: 18px;
  color: var(--ion-color-ashirwad);
  font-weight: 500;
}

.qrCode {
  font-size: 19px;
  font-weight: 500;
  margin-top: 3px;
}
.qrTime{
  font-size : 12px;
  font-weight: 300;
}

ion-footer {
  &:before {
    height: 0px !important;
  }
  .footerTool {
    --background: #f6f6f6;
  }
}

.noData {
  width: 100%;
  color: var(--ion-color-ashirvad);
  text-align: center;
  position: absolute;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
