<ion-header>
  <ion-toolbar text-center>
    <ion-img src="assets/imgs/aashirwad_logo.png" class="ashLogo"></ion-img>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/scan-qr"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!emptyUploads">
    <ion-row margin-bottom>
      <ion-col size="12" no-padding>
        <h4 no-margin class="scanLabel">Scanned QR {{unsyncedSKUs?.length>1?'Codes':'Code'}}</h4>
        <!-- <h4 no-margin class="scanLabel">Scanned QR Codes</h4> -->
      </ion-col>
      <!-- <ion-col size="4" text-right no-padding>
        <ion-button (click)="selectAll()" fill="clear" class="noTextTransform">
          Select All
        </ion-button>
      </ion-col> -->
    </ion-row>
    <!-- <ion-card padding> -->
    <ion-card padding *ngFor="let sku of unsyncedSKUs; let i=index;">
      <p no-margin class="qrCodeDetail">{{sku.qrName}}</p>
      <p no-margin class="qrCode">{{sku.qrCode}}</p>
      <ion-row>
        <ion-col size="12" no-padding text-right>
          <p no-margin class="qrTime">{{sku.scannedTime}}</p>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <div *ngIf="emptyUploads">
    <h1 class="noData">Please scan something !</h1>
  </div>
</ion-content>
<ion-footer *ngIf="!emptyUploads">
  <ion-toolbar class="footerTool">
    <ion-button (click)="getLatLong()" size="large" shape="round" expand="block" padding-horizontal margin-bottom
      class="noTextTransform">
      Upload
    </ion-button>
  </ion-toolbar>
</ion-footer>