ion-content {
    --background : #f6f6f6;
  }
ion-card {
    --background : #ffffff;
    background-color: #ffffff;
    padding: 16px;
}
ion-row{
      width:100%;
}
.cartThumbnail{
    width: 90%;
    height: 90%;
    margin-top: 1px;
    margin-left: 10px;
}
.mt-25{
    margin-top:25px;
}
.pointFont{
    margin-top: -8px;
    color:var(--ion-color-primary,#3880ff);
}
.headFont{
    margin-top: -10px;
}
.orderBtn{
    padding: 0px 25px 0px 25px;
    margin-top: 50px;
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    bottom: 10px;
}
.cartHead{
    margin-left: 18px;
 }
 .cartCross{
    font-size: 20px;
    transform: translate(-4px,-4px);
 }
 .points{
    position: absolute;
    right: 12px;
    top: 5px;
    color:var(--ion-color-primary,#3880ff);
 }

 