<ion-header>
    <ion-toolbar text-center>
        <ion-img src="assets/imgs/aashirwad_logo.png" class="ashLogo"></ion-img>
        <ion-buttons slot="start">
            <ion-back-button color="dark" defaultHref="/dashboard"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="primary">
          <ion-button routerLink = "/cart">
            <ion-icon slot="icon-only" src="assets/svgs/profile_thumbnail.svg"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content>
    <h3 class="cartHead">My Cart</h3>
    <h6 class="points">My Points : {{userObj?.current_points}}</h6>
    <ion-card class="mt-25" *ngFor="let cart of cartItems">
        
    <ion-list>
        
        <!-- <ion-icon name="close" class="cartCross"></ion-icon> -->
      <ion-item>
          <ion-thumbnail slot="start">
              <img [src]="cart.imageUrl" class="cartThumbnail">
          </ion-thumbnail>
          <ion-row>
            <ion-col size="12">
              <h4 class="headFont">{{cart.heading}}</h4>
              <p class="pointFont">{{cart.points}}PTS</p>
            </ion-col>
            </ion-row>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-button margin-top [disabled]="cartItems.length == 0"  type="submit" expand="block" size="large" class="noTextTransform orderBtn" shape="round" (click)="buyNow()"
>
      Order Now
  </ion-button>
</ion-content>