

ion-content{
    // --background: linear-gradient(to bottom, #ed1c24, #b11116);
    --background: url(../../assets/imgs/dash_background.jpg);
    --background-repeat: no-repeat;
    --background-size: 100%;
}

.dashItemIcon{
    display: inline-block;
    width: 50%;
}

.feedbackIcon{
    width: 64% !important;
}

.dashItemCol{
    background: #fff;
    padding: 15px 7px;
    border-radius: 7px;
    margin: 0px;
    min-height:120px;
}

.menuGrid{
    padding: 0px 7px;
    display: inline-block;
}

.dashItemNam{
    margin-bottom: 0px;
}

.pl-10{
    padding-left: 13px;
}
.pr-10{
    padding-right: 13px;
}

.circlePicDiv{
    position: relative;
}
.closeButton{
    position: absolute;
    top: 5px;
    right: 0px;
}
.membershipIcon{
    font-size: 15px;
    position: absolute;
    bottom: -18px;
    padding: 4px 10px;
    display: table;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 15px;
    font-weight: 500;
    background-color: #fdbf00;
    /* max-width: 5px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.circle-pic{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 4px solid #fff;
}

.progressRange{
    --knob-background: #fdbf00;
    --bar-background: #89aee7;
    --bar-background-active: #fbbf2f;
    padding: 0px;
    --knob-size: 23px;
    --bar-border-radius: 10px;
    --bar-height: 7px;

    .minRange{
        position: absolute;
        bottom: -7px;
        left: -2%;
        color: #fff;
        font-size: 14px;
    }

    .maxRange{
        position: absolute;
        bottom: -7px;
        right: 0px;
        color: #fff;
        font-size: 14px;
    }
}

.pointDesc{
    color: #fff;
    margin-left: -5px;
    font-size: 14px;
}

.pointsdiv{
    margin-top: 10px;
}

.purseIcon{
    font-size: 23px;
    margin-right: 7px;
}

.pointNumber {
    margin: 0px;
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}
.pointLabel {
    margin: 0px;
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    padding-left: 2px;
    color: #fff;
}
.plumberDiv{
    border-radius: 30px;
    margin-top: 5px;
    background: #fff;
    padding: 7px 19px;

    .personName{
        // display: inline-block;
        font-size: 17px;
        font-weight: 500;
    }

    .goldIcon{
        font-size: 25px;
    }
    .w-100{
        display: flex;
        align-items: center;
        width: 100%;
    }
}

.memberSince{
    margin: 7px 0px 0px 0px;
    font-size: 12px;
    color: #fff;
}

.advertismentCarousal{
    --bullet-background: #fff;
    padding-bottom: 25px;

    ion-img{
        width: 100%;
    }
}

.overlayOverRange{
    position: absolute;
    background: transparent;
    width: 106%;
    height: 54px;
    top: 0px;
    z-index: 99;
    left: -10px;
}
