<ion-header>
  <ion-toolbar text-center>
    <ion-img src="assets/imgs/aashirwad_logo.png" class="ashLogo"></ion-img>
    <ion-buttons slot="start">
      <!-- <ion-menu-button menu="m1"></ion-menu-button> -->
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" src="assets/svgs/menuIcon.svg"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button routerLink="/scan-qr">
        <ion-icon slot="icon-only" src="assets/svgs/dash_QR.svg" class="qrIcon"></ion-icon>
      </ion-button>
      <ion-button routerLink="/portfolio">
        <ion-icon slot="icon-only" src="assets/svgs/profile_thumbnail.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding-vertical>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <div class="circlePicDiv" routerLink="/portfolio">
          <img class="circle-pic" src="{{userObj?.profile_image != '' ? imgUrlDomain+userObj?.profile_image: 'assets/svgs/User.svg'}}" />
          <div class="membershipIcon">
              {{nameParser(userObj?.name)}}
              <!-- {{nameParser('ShriRaviShankar')}} -->
          </div>
        </div>
      </ion-col>
      <ion-col size="8">
        <p no-margin class="pointDesc">Earn {{userObj?.member_type_max.min_point - userObj?.total_points}} points for {{userObj?.member_type_max.type_name}}</p>
        <div class="relative" routerLink="/mytier">
          <ion-range min="{{userObj?.member_type_min.min_point}}" max="{{userObj?.member_type_max.min_point}}" class="progressRange" [ngModel]="userObj?.total_points">
            <ion-label class="minRange" slot="start">{{userObj?.member_type_min.min_point}}xp</ion-label>
            <ion-label class="maxRange" slot="end">{{userObj?.member_type_max.min_point}}xp</ion-label>
          </ion-range>
          <div class="overlayOverRange"></div>
        </div>
        <div class="pointsdiv">
          <ion-icon class="purseIcon" src="assets/svgs/purse.svg"></ion-icon>
          <p class="pointNumber">{{userObj?.current_points}}</p>
          <p class="pointLabel">Points</p>
        </div>
        <div class="plumberDiv">
          <ion-row class="w-100" routerLink="/portfolio">
            <ion-col size="10" no-padding>
              <p no-margin class="personName">{{userObj?.member_type_min.type_name}}</p>
            </ion-col>
            <ion-col size="2" no-padding text-right>
              <ion-icon class="goldIcon" src="assets/svgs/{{userObj?.member_type_name_min}}.svg"></ion-icon>
            </ion-col>
          </ion-row>
        </div>
        <p class="memberSince">Mera Ashirwad member since {{joinedDate}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div padding>
    <ion-slides class="advertismentCarousal" mode="ios" pager="ios">
      <ion-slide>
        <ion-img src="assets/svgs/advert_1.svg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="assets/svgs/advert_2.svg"></ion-img>        
      </ion-slide>
      <ion-slide>
        <ion-img src="assets/svgs/advert_3.svg" routerLink="/video-training"></ion-img>
      </ion-slide>
    </ion-slides>
  </div>

  <ion-grid class="menuGrid">
    <ion-row>
      <ion-col size="4" text-center>
        <div class="dashItemCol" routerLink="/ash-rewards">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-img src="assets/svgs/Ashirvad Rewards.svg" class="dashItemIcon"></ion-img>
          <p class="dashItemName">Rewards</p>
        </div>
      </ion-col>
      <ion-col size="4" text-center>
        <div class="dashItemCol" routerLink="/scan-qr">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-img src="assets/svgs/QR code.svg" class="dashItemIcon"></ion-img>
          <p class="dashItemName">Scan</p>
        </div>
      </ion-col>
      <ion-col size="4" text-center>
        <div class="dashItemCol" routerLink="/video-training">
          <ion-img src="assets/svgs/Video Training.svg" class="dashItemIcon"></ion-img>
          <p class="dashItemName">Training</p>
        </div>
      </ion-col>
      <ion-col size="4" text-center>
          <div class="dashItemCol" routerLink="/community">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-img src="assets/svgs/Ashirvad Community.svg" class="dashItemIcon"></ion-img>
            <p class="dashItemName">Community</p>
          </div>
        </ion-col>
      <ion-col size="4" text-center>
        <div class="dashItemCol" routerLink="/contact-us">
          <ion-img src="assets/svgs/Feedback.svg" class="dashItemIcon"></ion-img>
          <p class="dashItemName">Contact Us</p>
        </div>
      </ion-col>
      
      <ion-col size="4" text-center>
        <div class="dashItemCol" routerLink="/catalogue">
          <ion-img src="assets/svgs/Product Catalogue.svg" class="dashItemIcon"></ion-img>
          <p class="dashItemName">Products</p>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>