// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.ion-color-ashirwad {
  --ion-color-base: #2B6ED2;
  --ion-color-base-rgb: 43, 110, 211;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #275dad;
  --ion-color-tint: #3d85f0;
}

.ashLogo{
  position: absolute;
  top: 50%;
  width: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}
.ion-content-background {
  --background : #f6f6f6;
}