ion-content {
    --background : #f6f6f6;
  }
  ion-card {
    --background : #ffffff;
    background-color: #ffffff;
  }
  ion-row{
      width:100%;
  }
  ion-list{
    padding: 0;
  }
  .orderHead{
    margin-left: 18px;
}
.thumbnail{
    width: 70%;
    height: 70%;
    margin-top: 8px;
    margin-left: 10px;
}
.mt-25{
    margin-top:25px;
}
.dateFont{
    margin-top: -8px;
    font-size : 80%;
    color:var(--ion-color-primary,#3880ff);
}
.midFont{
    margin-top: -10px;
    font-weight: 600;
}
.backBtn{
    padding: 0px 25px 0px 25px;
    margin-top: 50px;
    margin-bottom: 20px;
}