<ion-header>
    <ion-toolbar text-center>
      <ion-img src="assets/imgs/aashirwad_logo.png" class="ashLogo"></ion-img>
      <ion-buttons slot="start">
          <ion-back-button color="dark" defaultHref="/dashboard"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <h3 class="orderHead">My Order Status</h3>
      <ion-card class="mt-25" *ngFor="let list of orderlists">
      <ion-list>
        <ion-item>
            <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" class="thumbnail">
            </ion-thumbnail>
            <ion-row>
              <ion-col size="12">
                <p>ID #{{list.coupon_code}}</p>
                <p class="midFont">{{list.transaction}}</p>
                <p class="dateFont">{{dateFormat(list.createdAt)}}</p>
              </ion-col>
              </ion-row>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-button margin-top type="submit" expand="block" size="large" class="noTextTransform backBtn" shape="round"
    routerLink="/ash-rewards">
        Back
    </ion-button>
  </ion-content>