<ion-header>
  <ion-toolbar>
    <ion-img src="assets/imgs/aashirwad_logo.png" class="ashLogo"></ion-img>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/community"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="clear" (click)="promptMediaOption()">
        <ion-icon slot="icon-only" name="attach"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">Region*</ion-label>
        <ion-select  placeholder="Select Region" [(ngModel)]="selectedRegion">
          <ion-select-option *ngFor="let region of regions" [value]="region._id">{{region.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">Language*</ion-label>
        <ion-select  placeholder="Select Language" [(ngModel)]="selectedLanguage">
          <ion-select-option *ngFor="let language of languages" [value]="language._id">{{language.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Category*</ion-label>
        <ion-select placeholder="Select Category" [(ngModel)]="selectedCategory">
          <ion-select-option *ngFor="let category of categories" [value]="category._id">{{category.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-item>
    <ion-label position="floating">Ask your Question*</ion-label>
    <ion-textarea rows="4" [(ngModel)]="myQuestion"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Describe your question in detail*</ion-label>
    <ion-textarea rows="6" [(ngModel)]="myDescription"></ion-textarea>
  </ion-item>


</ion-content>
<ion-footer>
    <ion-toolbar class="footerTool">
      <ion-button (click)="createQuestion()" size="large" color="ashirwad" no-margin expand="full"
        class="noTextTransform">
        Submit
      </ion-button>
    </ion-toolbar>
  </ion-footer>