<ion-header>
  <ion-toolbar text-center>
    <ion-img src="assets/imgs/aashirwad_logo.png" class="ashLogo"></ion-img>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid padding margin-top>
    <ion-row>
      <ion-col size="5" text-center>
        <!-- <ion-img src="assets/svgs/ash_rewards_plumber.svg" class="plumberIcon"></ion-img> -->
        <ion-img src="assets/svgs/rewardsman.svg" class="plumberIcon"></ion-img>
      </ion-col>
      <ion-col size="7">
        <!-- <h3>I am Plumber</h3> -->
        <div class="membershipParentDiv">
          <div class="membershipDiv">
            <!-- <ion-img class="membershipIcon" src="assets/svgs/Gold Coin.svg"></ion-img> -->
            <ion-img class="membershipIcon" src="assets/svgs/Medal.svg"></ion-img>
            <p class="membershipCat">{{userObj?.member_type_name_min}} Member</p>
          </div>
        </div>
        <p>To get to earn {{userObj?.member_type_name_max}} level scan more products</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid no-padding margin-top>
    <ion-row>
      <ion-col size="6" text-center class="pl-10" routerLink="/scan-qr">
        <div class="dashItemCol">
          <ion-img src="assets/svgs/Scan QR Code.svg" class="dashItemIcon"></ion-img>
          <p class="dashItemName">Scan QR Code</p>
        </div>
      </ion-col>
      <ion-col size="6" text-center class="pr-10" routerLink="/redeem-rewards">
        <div class="dashItemCol">
          <ion-img src="assets/svgs/Redeem rewards.svg" class="dashItemIcon"></ion-img>
          <p class="dashItemName">Redeem Rewards</p>
        </div>
      </ion-col>
      <ion-col size="6" text-center class="pl-10" routerLink="/order-status">
        <div class="dashItemCol">
          <ion-img src="assets/svgs/My Order Status.svg" class="dashItemIcon"></ion-img>
          <p class="dashItemName">My Order Status</p>
        </div>
      </ion-col>
      <ion-col size="6" text-center class="pr-10" routerLink="/point-balance">
        <div class="dashItemCol">
          <ion-img src="assets/svgs/My Points Balance.svg" class="dashItemIcon"></ion-img>
          <p class="dashItemName">My Points Balance</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>