ion-content{
    --background: #f6f6f6;
}

.membershipParentDiv{
    display: inline-block;
    margin-top: 15px;

    .membershipDiv{
        padding: 7px 10px;
        box-shadow: 1px 2px 7px -2px #ccc;
        border-radius: 19px;
        display: flex;
        align-items: center;
        background: #fff;

        .membershipIcon{
            position: initial;
            display: inline-block;
            width: 16%;
        }
        .membershipCat{
            display: inline-block;
            margin: 0px 0px 0px 13px;
            font-size: 16px;
        }
    }
}

.dashItemCol{
    background: #fff;
    padding: 15px 10px;
    border-radius: 7px;
    margin: 3px;

    .dashItemIcon{
        display: inline-block;
        width: 50%;
    }

    .dashItemName{
        margin-bottom: 0px;
    }
}

.pl-10{
    padding-left: 13px;
}
.pr-10{
    padding-right: 13px;
}