.aash_logo{
    width: 60%;
}
.languageIcon{
    width: 32%;
    display: inline-block;
    border-left: 1px solid #ccc;
    padding-left: 12px;
}
.welcomeText{
    font-weight: 300;
}
.mt-25{
    margin-top: 25px;
}

.roundDivParent{
    border: 1px solid var(--ion-color-ashirwad);
    border-radius: 25px;
}

.curvedDiv1{
    display: inline-block;
    padding: 10px 15px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 50%;
    text-align: center;
}
.curvedDiv2{
    display: inline-block;
    padding: 10px 15px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 50%;
    text-align: center;
}

.activeItem{
    background: var(--ion-color-ashirwad);
    color: #fff;
}

.circlePicDiv{
    position: relative;
}

.circle-pic{
    height: 125px;
    width: 125px;
    border-radius: 50%;
    margin-top: 0px
}

.membershipIcon{
    font-size: 35px;
    position: absolute;
    bottom: 4%;
    right: 31%;
}

.calendarIcon{
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 19px;
}

.uploadProofSlot{
    border: 1px dashed var(--ion-color-ashirwad);
    background: #f6f6f6;
    height: 180px;
    color: var(--ion-color-ashirwad);
    display: flex;
    align-items: center;
    justify-content: center;
}

.documentImg{
    width: auto;
    height: 100%;
}

// ion-item{
//     border-bottom: 2px solid #ffcb05;
//     border-top-left-radius: 10px;
//     border-top-right-radius: 10px;
// }

// .input-has-focus .item-inner, 
// .item-input-has-focus .item-inner{
// border-bottom: none !important;

// }
// .input-has-value .item-inner,
// .item-input-has-value .item-inner{
// border-bottom: none !important;
// }

// .item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, 
// .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
// .item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
//     border-bottom: none !important;
//     -webkit-box-shadow: none !important;
//     box-shadow: none !important;
// }
