<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img class="aash_logo" src="assets/imgs/aashirwad_logo.png"></ion-img>
      </ion-col>
      <ion-col text-right>
        <ion-img class="languageIcon" src="assets/svgs/india.svg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <div class="circlePicDiv" (click)="askForMediaOptions('profile')">
          <img class="circle-pic" [src]="defProfilePath" />
          <ion-icon src="assets/svgs/Cam.svg" class="membershipIcon"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list class="mt-25">
    <form #f="ngForm" (ngSubmit)="registerFormDetails(f)">
      <ion-item>
        <ion-label position="floating" color="dark">Name*</ion-label>
        <ion-input name="user_name" required ngModel type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email*</ion-label>
        <ion-input name="email" required ngModel type="text"></ion-input>
      </ion-item>
      <div class="relative">
        <ion-item (click)="openDOBDatePicker()">
          <ion-label position="floating">DOB</ion-label>
          <ion-input name="dob" [(ngModel)]="dateOFBirth" type="text"></ion-input>
        </ion-item>
        <ion-item hidden>
          <ion-datetime #dobPicker (ionChange)="dobChanged($event)" picker-format="DD MM YYYY"></ion-datetime>
        </ion-item>
        <ion-icon class="calendarIcon" src="assets/svgs/Calendar.svg"></ion-icon>
      </div>
      <div class="relative">
        <ion-item (click)="openDOMDatePicker()">
          <ion-label position="floating">Date of Marriage</ion-label>
          <ion-input name="dom" [(ngModel)]="dateOFMarriage" type="text"></ion-input>
        </ion-item>
        <ion-item hidden>
          <ion-datetime #domPicker (ionChange)="domChanged($event)" picker-format="DD MM YYYY"></ion-datetime>
        </ion-item>
        <ion-icon class="calendarIcon" src="assets/svgs/Calendar.svg"></ion-icon>
      </div>
      <ion-item>
        <ion-label position="floating">Address Line 1</ion-label>
        <ion-input name="address1" ngModel type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Address Line 2</ion-label>
        <ion-input name="address2" ngModel type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Pincode*</ion-label>
        <ion-input name="pincode" required ngModel type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">PAN / Aadhaar Number</ion-label>
        <ion-input name="panAadhar" ngModel type="text"></ion-input>
      </ion-item>
      <ion-row margin-top (click)="askForMediaOptions('document')">
        <ion-col *ngIf="documentPath.trim()==''" size="12" class="uploadProofSlot">
          Upload your PAN / Aadhaar Card Image
        </ion-col>
        <ion-col size="12" *ngIf="documentPath.trim()!=''" class="uploadProofSlot">
        <!-- <ion-col size="12" class="uploadProofSlot"> -->
          <img class="documentImg" [src]="viewDocumentPath">
          <!-- <ion-img [src]="viewDocumentPath"></ion-img> -->
        </ion-col>
      </ion-row>
      <!-- <ion-row margin-vertical class="ion-align-items-center">
        <ion-col size="4" no-padding>Who Are You?</ion-col>
        <ion-col size="8" no-padding>
          <div class="roundDivParent">
            <div class="curvedDiv1" [ngClass]="{activeItem:userType=='3'}" (click)="selectThisUserType('3')">
              Plumber
            </div>
            <div class="curvedDiv2" [ngClass]="{activeItem:userType=='2'}" (click)="selectThisUserType('2')">
              Dealer
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-item *ngIf="userType=='3'">
        <ion-label position="floating">Dealer Code</ion-label>
        <ion-input name="dealerCode" ngModel type="text"></ion-input>
      </ion-item> -->
      <ion-button [disabled]="!f.valid" margin-top size="large" color="ashirwad" type="submit" expand="block"
        class="noTextTransform" shape="round">
        Register
      </ion-button>
    </form>
  </ion-list>
</ion-content>